_section {
  font-size: 1.7em !important;
}

.page-inner {
  max-width: 1200px !important;
  _border: 2px solid blue;
}

h1, h2 {
  margin-top: 0 !important;
  _text-align: center;
}

h4 {
  _text-align: center;
}
